#content {
  margin: 8px;
  text-align: center;
}

#appInfo #appName {
  font-size: 3em;
}

button {
  padding: 10px;
  background-color: rgb(35, 53, 73);
  color: white;
  outline: none;
}

button:hover {
  cursor: pointer;
}

#new #createDiv {
  margin: 15px;
}

#loadBtns {
  margin: 12px;
}

#loadBtns .loadProjBtn {
  display: inline-block;
  margin: 3px;
}

#delete {
  margin: 3em 0 0 0;
}

#delBtns {
  margin: 12px;
}

#delBtns .delProjBtn {
  display: inline-block;
  margin: 3px;
}

#delBtns .delProjBtn:hover {
  color: rgb(255, 25, 25);
}
