#content {
  margin: 8px;
}

#infoBody p, #infoBody img {
  display: block;
}

#infoBody img {
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
}

#control {
  display: flex;
  margin: 15px;
}

#control #inputText {
  resize: none;
  overflow: scroll;
  min-width: 8em;
}

#control #resPanel {
  width: 13em;
  height: 10em;
  overflow: overlay;
}

#control #resPanel img {
  width: 80px;
  height: 80px;
  margin: 7px;
  cursor: pointer;
}
