#content {
  margin: 8px;
}

.editable {
  padding: 4px;
  width: fit-content;
}

.editable:hover {
  outline: 1px solid gray;
  cursor: text;
}

.elemDiv {
  margin: 2em 0;
}

.elemDiv p,
.elemDiv .delBtn,
.elemDiv img {
  display: inline;
}

.delBtn {
  margin: 0 0 0 1em;
}

.delBtn:hover {
  cursor: pointer;
  color: red;
}

#infoBody img {
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  pointer-events: none;
}

#control {
  display: flex;
  margin: 15px;
}

#control #inputText {
  resize: none;
  overflow: scroll;
  min-width: 8em;
}

#control #resPanel {
  width: 13em;
  height: 10em;
  overflow: overlay;
}

#control #resPanel img {
  width: 80px;
  height: 80px;
  margin: 7px;
  cursor: pointer;
}
