#content {
  margin: 8px;
}

.issueDiv {
  margin: 10px 0;
}

.issueLabel {
  width: fit-content;
  padding: 0 10px 0 0;
  border: none;
  outline: none;
}

.issueLabel:hover {
  cursor: pointer;
  background-color: lightgray;
}

.solDiv .solTextArea {
  display: block;
}

.descDiv {
  width: fit-content;
  padding: 3px;
  margin: 5px;
}

.descDiv:hover {
  outline: 1px solid lightgray;
  cursor: text;
}

.descDiv p {
  margin: 0px;
}

#addBtn {
  border: none;
  outline: none;
  background-color: white;
  font-size: 2em;
  color: rgb(35, 53, 73);
  margin: 3px 0;
  padding: 0 3px;
  position: relative;
  bottom: -6px;
}

#addBtn:hover {
  cursor: pointer;
}
