#content {
  margin: 8px;
}

.issueDiv {
  margin: 10px 0;
}

.issueLabel {
  width: fit-content;
  padding: 0 20px;
  border-style: outset;
}

.issueLabel:hover {
  cursor: pointer;
}

.activeBtn {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

.notesTab textarea, .solTab textarea {
  display: block;
}
