#content {
  margin: 8px;
}

.issueDiv {
  margin: 10px 0;
}

.issueLabel {
  width: fit-content;
  padding: 0 10px 0 0;
  border: none;
  outline: none;
}

.issueLabel:hover {
  cursor: pointer;
  background-color: lightgray;
}

.solDiv .solTextArea {
  display: block;
}

.descDiv {
  width: fit-content;
  padding: 3px;
  margin: 5px;
}

.descDiv:hover {
  outline: 1px solid lightgray;
  cursor: text;
}

.descDiv p {
  margin: 0px;
}
