#content {
  margin: 8px;
}

.resImg {
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  pointer-events: none;
}

.resDiv .resInfo {
  display: inline-block;
}

.resDiv {
  overflow: hidden;
}

.resInfo {
  max-width: 20em;
  margin: 5px;
}

.resTitle, .resDesc {
  word-wrap: normal;
  padding: 2px;
  width: fit-content;
}

.resTitle:hover, .resDesc:hover {
  outline: 1px solid gray;
  cursor: text;
}

.editBox {
  resize: none;
  height: 3em;
}

.placeholder {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: lightgray;
  color: gray;
  text-align: center;
  margin: 10px;
  line-height: 30px;
}
