#content {
  margin: 8px;
}

table {
  width: 100%;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.task {
  width: 100%;
  padding: 2px;
}

.task:hover {
  outline: 2px solid lightgray;
  cursor: text;
}

.taskHeader, .statusHeader, .optionsHeader {
  cursor: default;
}

.status, .statusHeader, .options, .optionsHeader {
  max-width: fit-content;
}

.editBox {
  resize: both;
  overflow: scroll;
  width: 70%;
  margin: 2px;
  min-width: 15em;
  min-height: 3em;
}

.status input:hover {
  cursor: pointer;
}

.delBtn:hover {
  color: red;
  cursor: pointer;
}

.addBtn {
  border: none;
  outline: none;
  background-color: white;
  font-size: 2em;
  color: rgb(35, 53, 73);
  margin: 3px 0;
  padding: 0 3px;
}

.addBtn:hover {
  cursor: pointer;
}
