#content {
  margin: 8px;
}

table {
  width: 100%;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.task {
  width: 100%;
}

.status {
  width: fit-content;
  text-align: center;
}
