#content {
  margin: 8px;
}

#timeline {
  white-space: nowrap;
}

#timeline div h3 {
  margin: 5px 0;
}

.milestoneDiv {
  display: block;
}

.milestoneDiv div {
  display: inline-grid;
}

.milestone {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: rgb(35, 53, 73);
  margin: 0 1em;
  display: inline-grid;
  color: white;
  position: relative;
}

.active ~ div li {
  background: lightgrey;
}

.activeCheckBox {
  pointer-events: none;
}

#addBtn {
  border: none;
  outline: none;
  background-color: white;
  font-size: 2em;
  color: rgb(35, 53, 73);
  margin: 3px 0;
  padding: 0 0 0 2em;
}

#addBtn:hover {
  cursor: pointer;
}
